form.form  {
   
    width: 360px;
height: auto
}
label + input[name="delay"] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 360px;
height: 72px;
}
input[name="delay"] {
   width: 360px;
     height: 40px;
     padding-left: 10px;
}
.delay{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 10px;
}

fieldset {width: 360px;
    height: 78px;
    display: flex;
    justify-content: space-evenly;
}




button {
    border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background-color: #4e75ff;
color: white;
}
button:hover{
    background-color: #6c8cff;
}
